<h1>My Primary Work</h1>
<div class="user">
  <div class="tech">
      <h2>Project Overview</h2>
    <p>Here is a basic overview of my projects</p>
    <iframe width="420" height="237" src="https://www.youtube.com/embed/0Na5DR4W4bs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Full, in-depth documentation of my largest project, Aeronef, can be found in the YouTube playlist below.</p>
    <iframe width="420" height="237" src="https://www.youtube.com/embed/videoseries?list=PL12SUnpT0cSb1PHze8l1kemvubPSlzNAD" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="tech">
    <h2>Extracurriculars</h2>
    <h3>President of the Brentwood HS Computer Science Club</h3>
    <p>Elected in 11th grade, maintained for two years. I teach a group of around twenty students various principles of computer science and how to use different algorithms. The lessons can be seen <a href="https://github.com/mikedillender/MiscApplets/branches">here</a>.</p>
    <h3>Captain of Brentwood HS Science Olympiad Build Team</h3>
    <p>Elected in the beginning of 12th grade, I teach physics and engineering principles to the engineering focus-group in our school's competing Science Olympiad team.</p>
      <p><i>Update: This year, our "A" and "B" teams won first and second place in the TN-Tech regional tournament. More notably, though, my Build Team won first place in every event we competed in. We had two teams competing in each event, and there was only one event that we did not get first and second place in. That consistency is unprecedented not only for our school's build team, but for all divisions of our team. </i></p>
  </div>
</div>
<h1>Projects</h1>
<!---<iframe src="/assets/Project Resume final.pdf" width="100%" height="1400px">--->
<div class="user">
    <div class="tech">
        <h2>Aeronef Documentation</h2>
        <iframe src="/assets/imgs/AeronefDoc.pdf" width="100%" height="1400px"></iframe>
    </div>
</div>
<div class="user">
    <div class="tech">
        <h2>RC Navigation & Mapping</h2>
        <img src="/assets/imgs/rcav.PNG" alt="s1" style="width:1000px;height:300px;">
    </div>
</div>
<div class="user">
    <div class="tech">
        <h3><a href="https://github.com/BHS-AV/AV_Algorithm">Navigation</a></h3>
        <p>The navigation is admittedly rather simple, but it can explore a pathway/building completely independently, without crashing.  It also manages speed depending on the situation (i.e. slower when turning or when there is a wall ahead).</p>
        <h3><a href="https://github.com/mikedillender/Gazebo-Map-Gen">Map Generation</a></h3>
        <p>After nearly a year of working on the project, I decided that for better software testing, I would need more virtual maps to demo in— but there were none online. So, I decided to make a rather basic script to randomly generate a map for the car to test in.</p>
    </div>
    <div class="tech">
        <h3><a href="https://github.com/BHS-AV/AV_Algorithm/blob/master/Scripts/Map.py">Mapping</a></h3>
        <p>This is the portion I have been most passionate about, as evidenced by the file’s line count (2280 lines of code). For the first couple of months, I used the lidar to take in data and find a “line-of-best-fit” between data-points, thus creating various walls.  However, it was inefficient, and when a driving algorithm is inefficient, crashes are rather frequent. Eventually, I devised a new system, instead of making lines, I would treat the individual data-points as nodes.  Once the data was taken in, the nodes were strung together, and unnecessary nodes were removed.  This system is able to drive around a track, taking in well over eight thousand data-points, and create an accurate map of a mere forty nodes.</p>
    </div>
  </div>
  <div class="user">
    <div class="tech">
      <h2>3D Function Visualizer</h2>
      <!--img src="/assets/imgs/fxvis.PNG" alt="s1" style="width:600px;height:600px;">-->
      <!--img src="/assets/imgs/fxvis1.PNG" alt="s1" style="width:1564px;height:768px;"-->
      <img src="/assets/imgs/fxvis1.PNG" alt="s1" style="width:900px;height:450px;">
      <p>This project originated as a 3D particle simulator (which can be seen below), but soon progressed into an experiment with 3D functions. I realized that if I created a 2D-float-array, I could use the value of each index as the z-position, and the two array indexes as the x and y. Hence, by inputting a simple z=f(x,y) function, it could create a 3D rendering of it by drawing lines to adjacent indexes.</p>
      <p>The first problem I had with this was how to handle 3D-rotations of perspective, and since I was unable to find much helpful information on how to use quaternions, I struggled with making it work.  However, I eventually just settled on the admittedly inefficient method of rotationally-translating each point around the origin every render.</p>
      <p>Eventually, while doing schoolwork, I realized I could alter my original method to graph polar functions. By replacing the float-array with a vector-array, I could instead have the array indexes represent the x-y orientation from the origin and store the x-y positions in the vector.  This worked surprisingly well, and after I made an algorithm to panel the graphs and render them in order of distance from the observer, I started to realize the potential this program had.</p>
      <p>Finally, I upgraded it to render parametric equations by using the x-index as a fourth variable, time. First, I made basic parametric functions with {x=f(t), y=g(t), z=h(t)}, but later added  Euler approximation compatibility, using the y-index as a different initial position, with the input parameter being the derivative functions of each position variable.</p>
    </div>
  </div>
  <div class="user">
    <div class="tech">
      <h2>3D Particle Simulator</h2>
      <img src="/assets/imgs/particle.PNG" alt="s1" style="width:900px;height:400px;">
      <p>I had made several particle simulators prior to this one, but since they were all 2D, I was always annoyed with my inability to model electromagnetism. Since electromagnetism is an inherently 3D force, as demonstrated by the right-hand rule, I knew I had to make a 3D-environment. So, I made this using Java’s Applet graphics library.</p>
      <p>It can model gravity, electromagnetism, pressure, and collisions between particles and trace their paths.</p>
      <img src="/assets/imgs/collisiongif.gif" alt="demo gif failed to load" style="width:320px;height:320px;">
    </div>
  </div>

<h1>Engineering / Design Projects</h1>
<div class="user">
    <div class="tech">
        <h2>Electric Shopping Cart</h2>
        <img src="/assets/imgs/cart.PNG" alt="s1" style="width:700px;height:350px;">
        <p>I made this a couple of months ago, and it is pretty much my only large-scale project that involves much hardware. The original idea was born from a desire to take my team’s work in Autonomous Vehicles to the next level, but that never really worked out with my teacher. So it became a passion project until I finished it after a couple of weeks. I found the cart abandoned in the woods near my house, and using some electronics from my basement, managed to power it with electric motors. Eventually, I managed to make it controllable via a python script on my laptop.</p>
    </div>
</div>
<div class="user">
    <div class="tech">
        <h3>DIY Electrical Generator</h3>
        <p>Admittedly the power output of this thing could be a lot better, but I work on these projects for my own entertainment-- and I honestly got bored of winding the coil after a few hours. Regardless of its output, though, it was a fun project to work on, and a great introduction to 3D modeling.</p>
    </div>
    <div class="tech">
        <h3>Coil Gun</h3>
        <img src="/assets/imgs/coil.png" alt="s1" style="width:500px;height:500px;">
        <p>It's a work in progress, but I have currently spent over 110 hours working on it. I built it entirely from scratch using onshape to design the plastic frame, and buying misc parts (i.e. capacitors, copper wire, thyristors, switches, etc) online. It's been a fun way to spend my time while in quarantine, but is not working as well as I would like it to yet.</p>
    </div>
</div>

<div class="user">
    <div class="tech">
        <h2>Coil Rifle</h2>
        <img src="/assets/imgs/rifle_diagram.png" alt="s1" style="width:700px;height:350px;">
        <p>This is the current version my coilgun project. After I got more familiar with circuits, I found a way to make it work without an arduino, so I decided to start building a new, better coilgun. This version works with absolutely no software component, and is controlled entirely by <a href="http://mikedillender.com/assets/imgs/full_circuit_diagram.png">my logic circuit</a>.</p>
        <p>Unfortunately, I had to start college before I was able to complete this project, and due to housing regulations, I was unable to bring it with me. However, I do hope to complete it eventually, and I am satisfied with its current operation and <a href="http://mikedillender.com/assets/imgs/full_circuit_diagram.png">appearance</a>. </p>
    </div>
</div>

<h1>My Side Hobbies</h1>
<div class="user">
  <div class="tech">
    <h2>Art</h2>
      <p>Other than a semester long art class I took in eighth grade, I am entirely self-taught.  I don't draw as much as I used to, and only really sculpt nowadays. But the practice has definitely paid off in my ability to visualize things in 3D, and of course the ability to make assets for my software. </p>
    <h2>Sculpting</h2>
      <img src="/assets/art/sculpting.png" alt="s1" style="width:500px;height:330px;">
      <p>I am entirely self-taught in sculpting. About a year ago, I was interested in trying it, so I ordered some clay on Amazon. Since then, I have been sculpting as a hobby.</p>
  </div>
  <div class="tech"><h2>Cartography</h2>
    <p>When I was younger, I hand-drew my own maps of the woods around my house, but eventually grew out of it. Now I use a GPS tracker to trace paths and mark waypoints, which I then combine with USGS maps I find online. It may not be as creative, but it's more accurate and actually usable, so way more practical.</p>
    <h2>Hiking and Spelunking</h2>
    <img src="/assets/art/cave.png" alt="s1" style="width:500px;height:330px;">
    <p>I have always loved hiking and mapping out forests, but recently I have become more interested in caving. After finding Thomas C. Barr's <u><i>Caves of Tennessee</i></u> online, I have been putting aside hours of my free time to hunt down and explore caves.</p>
     </div>
</div>
